$colorblue: #6480cb;
$colororangedark: #e77c2f;
$colororangelight: #f09342;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// body {
//   width: 600px;
// }

%menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  @extend %menu;
  background-color: $colorblue;
  height: 100px;
  align-items: center;
  padding: 30px;
}

.menu {
  @extend %menu;
  list-style-type: none;
  padding-top: 10px;
  gap: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.list-menu {
  font-weight: bold;
}

.content__header {
  @extend %menu;
  background-color: $colororangedark;
  height: 80px;
  padding-top: 20px;
  gap: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.articles {
  padding-right: 30px;
  font-size: 28px;
}

.logo {
  background-image: url("./images/plus.png");
  height: 45px;
  width: auto;
  padding-left: 10px;
}

.content__info {
  @extend %menu;

  background-color: $colororangelight;
}

.content_buy {
  @extend %menu;
}

.groceries
